body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.formulario{
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    color: #1e3a8a;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.registrar{
    background: green;
}

.limpiar{
    background: red;
}

button:hover{
    opacity: 0.8;
}